.logo {
color: "white";
}

.logoIcon{float:left}

.logoName{
float: "right";
color: "white";
font-size: "2em";
font-family:'"Segoe UI", Tahoma, Geneva, Verdana, sans-serif';
 }

 a#logoName{
float: "right";
color: "white";
font-size: "2em";
font-family:'"Segoe UI", Tahoma, Geneva, Verdana, sans-serif';
 }



 .logoTag{
  float: "right";
  color: "white";
 margin-top: -10;
font-size: ".5em";
font-family:'"Segoe UI", Tahoma, Geneva, Verdana, sans-serif';
 }

@media (min-width: 768px) {
  .logo {
     font-weight: bold;
  }
}


