<section class="cta-section">
    <div class="auto-container">
        <div class="inner-container">
            <div class="image">
                <img src="images/shaking-hands-in-front-of-house.jpg" alt="shaking hands in front of house" />
            </div>
            <div class="content">
                <h2>Speak With Our <br> Experts Today!</h2>
                <a href="contact.html" class="theme-btn btn-style-two"><span class="txt">Get a quote <i class="arrow flaticon-right"></i></span></a>
            </div>
            <div class="hammer-image">
                <img src="images/house-keys.png" alt="house keys" />
            </div>
        </div>
    </div>
</section>